doctype html 
html(lang="en")
    include pug/head.pug
    body
        div.wrapper 
            main.page 
                include components/loader/loader.pug
                include pug/tetris.pug
        include pug/js.pug