@use "sass:math";
@import "base/mixins";
@import "fonts/fonts";

$fontFamily: "";
$fontSize: rem(16); // 16 - default font size

// Colors
$mainColor: rgb(255, 255, 255); // default color

/* ================= General Settings ================= */
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$containerPadding: 30;

$containerWidth: $maxWidthContainer + $containerPadding;

// Breakpoints
$pc: em($containerWidth); // PC, Landscape Tablet
$tablet: em(991.98); // Tablet, landscape phones
$mobile: em(767.98); // Phone L
$mobileSmall: em(479.98); // Phone S
$responsiveType: 1;

/* ================= General styles and reset ================= */
@import "base/null";

body::-webkit-scrollbar-track {
  background-color: rgb(49, 49, 49);
}

body::-webkit-scrollbar {
  width: 8px;
  background: rgb(49, 49, 49);
}

body::-webkit-scrollbar-thumb {
  border: none;
  border-radius: 10px;
  background: rgb(49, 49, 49);
}

body {
  overflow: hidden;
  color: $mainColor;
  font-family: PressStart2P, sans-serif;
  background-color: rgb(5, 5, 5);

  .lock & {
    overflow: hidden;
    touch-action: none;
  }
  .loaded & {
    visibility: visible;
  }
}

/* ================= Page Wrapper ================= */
.wrapper {
  position: relative;
  background: rgb(24, 24, 24);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  > main {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    @include maxMobile {
      transform: scale(0.6);
    }
  }

  > * {
    min-width: 0;
  }
}

/* ================= Google Icons and Controls ================= */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.controls-screen {
  display: none;

  &.visible {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
  }

  .controls-screen-btn-wrapper {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 0 25px 25px 25px;
  }

  .controls-screen-btn {
    cursor: pointer;
  }

  span {
    opacity: 0.25;
    font-size: 3rem;
    color: $mainColor;
  }
}

/* ================= Pause Screen ================= */
.overlay-screen {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;

  align-items: center;
  justify-content: center;

  font-size: 2rem;
  text-transform: uppercase;

  @include maxMobile {
    font-size: 1.5rem;
  }

  &.visible {
    display: flex;
    background-color: rgba(5, 5, 5, 0.75);
    backdrop-filter: blur(5px);
  }
}

/* ================= Start Screen ================= */
.start-screen {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;

  &.visible {
    display: block;
  }
}

@if ($responsiveType==1) {
  // Responsive
  [class*="__container"] {
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
      margin: 0 auto;
    }
    @if ($containerPadding>0) {
      padding: 0 rem(math.div($containerPadding, 2));
    }
  }
}

@import "tetris";
@import "../components//loader/loader";
